<!DOCTYPE html>
<html>
	<head>
		<title>IOT control panel</title>
		<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
		<script src="{{ url_for('static', filename='js/app.js')}}"></script>
	</head>
	<body>
		<div class="container">
			<h1>IOT control panel</h1>
			<div class="card section led-row">
				<div>
					<p>LED State: <span id="ledState">Loading...</span></p>
				</div>
				<button onclick="toggleLed()">Toggle LED</button>
			</div>
			<div class="card section">
				<div>
					<h3>Create Schedule</h3>
					<div class="form-row">
						<select id="device">
							<option value="led">LED</option>
							<option value="pump">Pump</option>
						</select>
						<input type="time" id="time"/>
						<input type="text" id="days" placeholder="MON,TUE"/>
						<select id="action">
							<option value="on">ON</option>
							<option value="off">OFF</option>
						</select>
						<button onclick="createSchedule()">Add</button>
					</div>
					<div>
						<h3>Schedules</h3>
						<ul id="schedules_list"/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

